body {
    font-family: sans-serif;
}

header {
    display: inline-block;
    border-radius:0px;
    background-color:rgb(0, 200, 250);
    width: 100%;
    height: 100px;
}

.link-header {
    display: inline-block;
    margin:25px 0 0 40px;
    background-color:rgb(112, 235, 112);
    border-radius:10px;
    color:honeydew;
    padding:20px;
    font-size:20px;
}

title {
    margin:90px;
}

.link-nav {
    color:black;
}

h1 {
   text-align:center;
   font-size:50px;
   color:rgb(112, 235, 112);
}

footer {
    margin:30px;
}

.social {
    margin:10px;
}

li {
    font-weight: 700;
    font-size:20px;
}

p {
    font-weight:700;
    color:black;
}
